/* table property */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  th {
    background-color: #0077b6;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  table tr:last-child {
    font-weight: bold;
  }

  /* header property */

  .usage-header{
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1em;
  }
